.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-brand-primary bg-brand-primary dark:border-darkmode-brand-primary dark:text-text-dark text-white dark:bg-darkmode-brand-primary;
}

.btn-outline-primary {
  @apply border-brand-primary text-brand-primary hover:bg-brand-primary dark:hover:text-text-dark bg-transparent hover:text-white dark:border-darkmode-brand-primary dark:text-darkmode-brand-primary dark:hover:bg-darkmode-brand-primary;
}
